* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.side-nav {
  width: 320px;
  height: 100vh;
  padding-top: 32px;
  border-right: 1px solid rgb(214, 214, 214);
  position: relative;
}

.logo {
  margin-bottom: 32px;
  padding: 0 24px;
}

.home-grp {
  display: flex;
  gap: 12px;
}

.home {
  /* background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.home-grp h3 {
  font-size: 16px;
  font-weight: 400;
}

.search-grp {
  display: flex;
  gap: 12px;
}

.search {
  /*background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.search-grp h3 {
  font-size: 16px;
  font-weight: 400;
}

.explore-grp {
  display: flex;
  gap: 12px;
}

.explore {
  /*background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.explore-grp h3 {
  font-size: 16px;
  font-weight: 400;
}

.reels-grp {
  display: flex;
  gap: 12px;
}

.reels {
  /*background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.reels-grp h3 {
  font-size: 16px;
  font-weight: 400;
}

.messages-grp {
  display: flex;
  gap: 12px;
}

.messages {
  /*background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.messages-grp h3 {
  font-size: 16px;
  font-weight: 400;
}

.notifications-grp {
  display: flex;
  gap: 12px;
}

.notifications {
  /*background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.notifications-grp h3 {
  font-size: 16px;
  font-weight: 400;
}

.create-grp {
  display: flex;
  gap: 12px;
}

.create {
  /*background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.create-grp h3 {
  font-size: 16px;
  font-weight: 400;
}

.profile {
  display: flex;
  gap: 16px;
  /*background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.profile img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.profile h3 {
  font-size: 16px;
  font-weight: 400;
}

.threads-grp {
  display: flex;
  gap: 12px;
}

.threads {
  /*background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.threads-grp h3 {
  font-size: 16px;
  font-weight: 400;
}

.more-grp {
  display: flex;
  gap: 12px;
}

.more {
  /*background-color: rgb(234, 234, 234);*/
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 8px;
}

.more-grp h3 {
  font-size: 16px;
  font-weight: 400;
}

.side-bot {
  position: absolute;
  bottom: 32px;
}

.container {
  display: flex;
}

.content {
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

.main-content-top {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.main-profile img {
  width: 140px;
  height: 140px;
  margin-top: 60px;
}

.main-profile {
  margin-left: 10%;
  margin-right: 70px;
}

.username {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 16px;
}

.username p {
  display: flex;
  gap: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.btn-primary {
  background-color: #0095f6;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
}

.btn-top {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 24px;
}

.btn-secondary {
  background-color: #dbdbdb;
  border-radius: 8px;
  border: none;
  color: rgb(13, 13, 13);
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
}

.btn-icon {
  background-color: #dbdbdb;
  border-radius: 8px;
  border: none;
  padding: 8px 8px;
}

.btn-icon-secondary {
  border: none;
  background-color: #ffffff;
}

.post-follower {
  display: flex;
  flex-basis: 100%;
  gap: 36px;
  margin-bottom: 24px;
}

.posts {
  display: flex;
  gap: 4px;
}

.posts h3 {
  font-size: 16px;
  font-weight: 500;
}

.followers {
  display: flex;
  gap: 4px;
}

.followers h3 {
  font-size: 16px;
  font-weight: 500;
}

.following {
  display: flex;
  gap: 4px;
}

.following h3 {
  font-size: 16px;
  font-weight: 500;
}

.insta-thread-username {
  margin-bottom: 8px;
}

.insta-thread-username h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.btn-thread-name {
  font-size: 12px;
  padding: 4px 8px;
  border: none;
  border-radius: 12px;
}

.main-cont-info {
  margin-bottom: 16px;
}

.main-cont-info h4 {
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}

.main-cont-info h5 {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.main-cont-info p {
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}

.main-cont-info-link {
  font-size: 14px;
  font-weight: 500;
  color: #00376b;
}

.follwed-by a {
  font-size: 12px;
  font-weight: 500;
  color: #737373;
}

.follwed-by a span {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}

.highlights {
  margin: 0 auto;
  justify-content: center;
}

.highlights-container1 {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: rgb(15, 141, 231);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50%;
  text-align: center;
}

.highlights h3 {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
}

.highlights-align {
  display: flex;
}

.top-division {
  border-bottom: 2px solid red;
}
